@media (max-width: 1350px) {

    /* page 1 */
    /* header  */
    .burger {
        display: block;
    }

    header {
        padding: 37px 80px;
    }

    .nav_header {
        display: none;
    }

    .half_logo {
        display: none;
    }

    .sing_box {
        width: 90px;
    }

    /* header end  */


    /* div_figure */
    .div_figure {
        width: 90%;
        margin: 80px auto;
        justify-content: space-around;
    }

    /* div_figure end  */

    /* section gallery  */
    .grid_conteiner {
        width: 90%;
    }

    /* products */
    .all_products {
        width: 90%;
        margin-inline: auto;
    }

    .div_products {
        width: 100%;
    }

    /* section gallery end */

    /* footer  */
    footer {
        padding: 32px 80px 58px;
    }

    /* footer end  */

}


@media (max-width: 1000px) {

    /* section1 */
    .section1 {
        padding: 120px 0px 90px 0px;
    }

    .half_logo {
        display: none;
    }

    .h1_section1 {
        width: 90%;
        margin-top: 90px;
        text-align: center;
    }

    .p_section1 {
        width: 80%;
        margin-bottom: 45px;
    }

    /* section1 end */


    /* products  */
    .h3_products {
        margin-top: 50px;
    }

    .all_products {
        width: 95%;
    }

    .left_right {
        display: none;
    }

    .div_products {
        width: 100%;
        justify-content: center;
    }

    .div_1 {
        width: 45%;
    }

    /* products end  */


    /* section_subscribe */
    .section_subscribe {
        height: 240px;
        margin-top: 80px;
    }

    .h4_subscribe {
        margin-bottom: 26px;
    }

    .form_subscribe {
        width: 50%;
    }

    /* section_subscribe end  */
    /* page 1 end  */

}

@media (max-width: 850px) {

    /* header  */
    header {
        padding: 37px 30px;
    }

    .half_logo {
        display: block;
    }

    .logo {
        display: none;
    }

    /* header end */

    /* div_figure  */
    .div_figure {
        flex-wrap: wrap;
    }

    .div_1 {
        width: 80%;
    }

    /* div_figure end  */

    /* section gallery  */
    .section_galery {
        padding: 46px 0;
    }

    .grid_conteiner {
        width: 90%;
        grid-template-columns: 100%;
        grid-template-rows: 300px 60px 300px 60px 300px 60px 300px 60px 300px;
        grid-template-areas:
            "img1"
            "."
            "img2"
            "."
            "img3"
            "."
            "img4"
            "."
            "img5";
    }

    /* section gallery end */

    /* section_artistry */
    .h5_artistry {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .div_all_texts {
        width: 90%;
        flex-wrap: wrap;
        gap: 24px;
    }

    .div_texts {
        width: 100%;
    }

    .h6_question {
        margin-top: 80px;
    }

    .help_div {
        width: 50%;
    }

    .h4_subscribe {
        font-size: 30px;
    }

    .form_subscribe {
       width: 90%;
    }

    /* section_artistry end */

    footer {
        margin-top: 80px;
        padding: 32px 10px 58px 10px;
        flex-direction: column;
        align-items: center;
    }

    .div_logos {
        margin-bottom: 50px;
    }

    .div_adress {
        margin-top: 50px;
    }

    .div_text_logos {
        text-align: center;
        width: 50%;
        
    }
    





}