.conteiner {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;

    border: 2px solid red;

}

/* section1 */
.section1 {
    max-width: inherit;
    width: inherit;
    padding: 283px 0px 188px 0px;
    background-image: url("../img/P1-cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 720px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(213, 144, 110, 0.52);
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav_header {
    width: 35%;
}

.ul_header {
    display: flex;
    gap: 60px;
}

.li_header {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: all;
    transition-duration: 0.4s;
}

.li_header:hover,
.li_1_header:hover {
    font-size: 25px;
    color: aqua
}

.li_1_header {
    color: #D5906E;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition-duration: 0.4s;
}

/* .logo:hover{
box-shadow: 0 0 10px rgba(224, 15, 15, 1);

} */


.sing_box {
    display: flex;
    gap: 16px;
    border: 2px solid blue;
}

.text_sign {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.shoppingbag {
    color: #FFFFFF;
}

/* header_end */


/* section1 */

.h1_section1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.p_section1 {
    width: 50%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 85px;

}

button {
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    width: 311px;
    height: 56px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* section1_end */

/* div_figure */
.div_figure {
    width: 65%;
    margin: 160px auto;
    display: flex;
    gap: 60px;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

}

.text_figure {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #B53B1B;
}

/* div_figure-end */


/* section-galery */

.section_galery {
    width: 100%;
    background-color: #402101;
    padding: 96px 365px;
    border: 2px solid blue;
}

h1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
    text-align: center;
}

.grid_conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: 315px 60px 315px 60px 440px;
    grid-template-rows: 322px 60px 260px;
    grid-template-areas:
        "img1 img1 img1 . img2"
        ". . . . ."
        "img3 . img4 . img5";
}

.grid_img1 {
    grid-area: img1;
}

.grid_img2 {
    grid-area: img2;
}

.grid_img3 {
    grid-area: img3;
}

.grid_img4 {
    grid-area: img4;
}

.grid_img5 {
    grid-area: img5;
}

/* section-galery-end */