.conteiner {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;

    border: 2px solid red;

}

/* section1 */
.section1 {
    max-width: inherit;
    width: inherit;
    padding: 283px 0px 188px 0px;
    background-image: url("../img/P1-cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav_header {
    width: 35%;
}

.ul_header {
    display: flex;
    gap: 60px;
}

.li_header {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition-duration: 0.4s;
}

.li_1_header {
    color: #D5906E;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition-duration: 0.4s;
}

.li_header:hover,
.li_1_header:hover {
    font-size: 25px;
    color: aqua
}

.logo {
    transition-duration: 0.3s;
}

.logo:hover {
    box-shadow: 0px 0px 30px rgba(221, 8, 8, 5);
}



.sing_box {
    width: 10%;
    display: flex;
    gap: 16px;
}

.text_sign {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.shoppingbag {
    color: #FFFFFF;
}

/* header_end */


/* section1 */

.h1_section1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    animation-name: colorfull;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes colorfull {
    0% {
        transform: scale(1);
        color: #FFFFFF;
    }

    30% {
        transform: scale(1.1);
        color: rgb(171, 209, 35);
    }

    60% {
        transform: scale(1.2);
        color: rgb(51, 181, 18);
    }

    100% {
        transform: scale(1);
        color: rgb(12, 119, 39);
    }
}

.p_section1 {
    width: 50%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
    margin-bottom: 85px;
    text-align: center;

}

button {
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    width: 311px;
    height: 56px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* section1_end */

/* div_figure */
.div_figure {
    width: 65%;
    margin: 160px auto;
    display: flex;
    gap: 60px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.img_figure {
    width: 100%;
}

.text_figure {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #B53B1B;
}

/* div_figure-end */


/* section-galery */

.section_galery {
    width: 100%;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #402101;
}

.h2_galery {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
}

.grid_conteiner {
    width: 65%;
    display: grid;
    grid-template-columns: 2fr 60px 2fr 60px 3fr;
    grid-template-rows: 300px 60px 200px;

    /* grid-template-columns: 315px 60px 315px 60px 440px;
    grid-template-rows: 322px 60px 260px; */

    grid-template-areas:
        "img1 img1 img1 . img2"
        ". . . . ."
        "img3 . img4 . img5";
}

.grid_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img1;
}

.grid_img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img2;
}

.grid_img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img3;
}

.grid_img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img4;
}

.grid_img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img5;
}

/* section-galery-end */


/* products */

.h3_products {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #402101;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}

.all_products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.div_products {
    width: 75%;
    display: flex;
    gap: 60px;
}

.div_1 {
    display: flex;
    position: relative;
}

.products_img {
    width: 100%;
}

.products_price {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B53B1B;
    background: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    padding: 15px 17px;
    top: 70%;
    left: 5%;
    transform: translate(70% 5%);
}

/* products-end */


/* section2 */

.section_subscribe {
    width: 100%;
    height: 480px;
    margin-top: 160px;
    background-image: url("../img/P1-cover2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid blue;
}

.h4_subscribe {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 56px;
}

.form_subscribe {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.mail_subscribe {
    width: 100%;
    height: 56px;
    padding-left: 18px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 10px 0 0 10px;
}

.submit_subscribe {
    height: 56px;
    padding: 17px 25px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #402101;

}

::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* section2-end */


.h5_artistry {
    margin-top: 160px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #402101;
    margin-bottom: 40px;
}

.div_all_texts {
    width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.div_texts {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}

.h6_texts {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #B53B1B;
}

.p_texts {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #402101;
}

.h6_question {
    margin-top: 112px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402101;
}

.help_div {
    margin-top: 20px;
    width: 30%;
    margin-inline: auto;
}

.help_button {
    width: 100%;
    height: 56px;
    background: #B53B1B;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

/* footer */

footer {
    width: 100%;
    padding: 32px 250px 58px 250px;
    background: #402101;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}

.div_text_logos {
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.p_div_text1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.p_div_text2,
.p_div_text3 {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.p_div_text2 {
    margin-bottom: 8px;
}

.div_logos {
    display: flex;
    justify-content: space-between;
}

.a_logo_footer {
    height: 45px;
}

.div_adress {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a_adress {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.tel_icon,
.mail_icon,
.adress_icon {
    margin-right: 16px;
    color: #FFFFFF;
}

/* .tel::before {
    content: "\f095";
    font-family: "font awesome 6 free";
    margin-right: 16px;
} */

/* footer-end */